framework:
    secret: '%env(APP_SECRET)%'
    csrf_protection: ~
    #http_method_override: true

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session: 
        storage_factory_id: session.storage.factory.native

    #esi: true
    #fragments: true
    form:
        enabled: true
    translator:
        paths:
            - '%kernel.project_dir%/translations'
        fallbacks:
            - '%locale%'
    php_errors:
        log: true
        
